{% extends 'base.html.twig' %}

{% block styleSheets %}
	{{ parent()}}
	{{ encore_entry_link_tags('question_show')}}
{% endblock %}

{% block title %}
	{{ question.title}}
{% endblock %}


{% block body %}
	<div class="block">
		<div class="d-flex flex-row-nowrap">
			{% include "partials/_ratings.html.twig" with { rating:question.rating, id : question.id, from : 'question'} %}

			<div class="d-flex flex-column">
				<div class="d-flex flex-row-nowrap align-items-center pb-30">
					<h3 class="mr-10">{{ question.title}}</h3>
					<div class="question-tag mr-10">QUESTION</div>
					<img class="avatar ml-auto" src="{{ question.author.picture}}">
				</div>
				<p class="question-text">{{ question.content}}</p>
				{% if question.comments is not empty %}
					<div class="separator"></div>

				{% endif %}


				{% for comment in question.comments %}
					<div class="d-flex flex-row-nowrap mb-20">
						{% include "partials/_ratings.html.twig" with { rating:comment.rating, id : comment.id, from : 'comment'} %}

						<div class="d-flex flex-column">
							<a href="{{ path('user', {id : comment.author.id}) }}" class="d-flex flex-row-nowrap pb-10">
								<img src="{{ comment.author.picture}}" class="avatar mr-10">
								<p class="clickable">{{ comment.author.fullname}}</p>
								<small class="ml-auto">{{ comment.createdAt | ago(locale='fr')}}</small>
							</a>
							<p class="question-response-text">{{ comment.content }}</p>
						</div>


					</div>
				{% endfor %}

				<div class="separator"></div>

				{% if form is defined %}

					<h3 class="pb-20">Votre réponse</h3>
					{{ form_start(form)}}
					{{ form_rest(form)}}
					<button class="btn btn-primary" type="submit">Soumettre</button>
					{{form_end(form)}}
				{% endif %}
			</div>
		</div>

	</div>
</div>{% endblock %}
